
# Bot token — Discord Developer Portal --> Application --> Bot --> Token
#   Keep this token secret. Never commit it to git. Whomever has this token controls the bot.
#   Hand it to a trusted successor only, or better yet, add them to the portal and they can gen their own.
#   If need be, the README.md file + the bot's JS code is enough to 
#   redo the process from scratch, including the server admin granting permissions, to make 
#   a new bot that's identical except for who controls it, side-stepping the unknown bot token.
DISCORD_TOKEN=ABCdeGhijKLM.noPQRST.uVwX-Yz <-- placeholder value

# NCAAU Discord SERVER id
GUILD_ID=000000000000000000 <-- placeholder value

# 👋-welcome-committee CHANNEL id
CHANNEL_ID=111111111111111111 <-- placeholder value

# Welcome Committee ROLE id
ROLE_ID=222222222222222222 <-- placeholder value

# 👋-introductions CHANNEL id
#   Optional. Leave blank to turn off the introductions watch.
INTRO_CHANNEL_ID=333333333333333333 <-- placeholder value
